* {
  margin: 0;
}

body {
  border: solid 10px midnightblue;
  margin: 20px;
  color: midnightblue;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Questrial", sans-serif;
}

h1 {
  text-align: left;
  font-size: 200px;
  text-shadow: 8px 8px 0px silver;
}

h2 {
  font-size: 100px;
}

p {
  font-size: 50px;
}

img {
  filter: grayscale(80%);
}

@media screen and (min-width: 520px) {
}
